body {
  background-color: rgb(52, 52, 52);
  font-family: "Inter", sans-serif;
}


h1,
p,
label {
  color: #ffffff;
}


input:focus {
  outline: none;
  box-shadow: 0 0 0 2px #6366f1; /* Indigo glow */
}


button {
  transition: transform 0.1s ease, background-color 0.3s ease;
}

button:hover {
  transform: scale(1.05);
}
